<div class="profile_input_container">
  <label for="{{label}}" class="profile_input_container__label">
    {{label}}
  </label>
  <input
    class="profile_input_container__input"
    type="{{type}}"
    name="{{name}}"
    id="{{label}}"
    placeholder="{{placeholder}}"
    disabled
  />
</div>
