<form class="user_profile">
    <div class="user_profile__avatar"></div>
    <h3 class="h3 user_profile__name">Иван</h3>
    {{{ProfileInput label="Почта" placeholder="pochta@yandex.ru" type="email" name="email"}}}
    {{{ProfileInput label="Логин" placeholder="ivanivanov" type="text" name="login"}}}
    {{{ProfileInput label="Имя" placeholder="Иван" type="text" name="first_name"}}}
    {{{ProfileInput label="Фамилия" placeholder="Иванов" type="text" name="second_name"}}}
    {{{ProfileInput label="Имя в чате" placeholder="Иван" type="text" name="display_name"}}}
    {{{ProfileInput label="Телефон" placeholder="+7 (909) 967 30 30" name="phone" type="tel"}}}
    <div class="user_profile__link_container">
    {{{Link class="user_profile__link" label="Изменить данные"}}}
    {{{Link class="user_profile__link" label="Изменить пароль"}}}
    {{{Link class="user_profile__link" danger=true label="Выйти" onClick=back}}}
    </div>
</form>
